@import "./variables.scss";

.results {
  margin-left: 302px;
  margin-top: 40px;

  .post__results {
    color: var(--aesagrey, #bebebe);

    font-family: "Paralucent";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

main {
  display: grid;
  grid-template-columns: 670px 670px;

  width: 100%;
  max-width: 1920px;
  margin-left: 263px;
  margin-top: 80px;
}

.posts {
  width: 650px;
  height: 239px;

  margin-left: 41px;
  margin-bottom: 16px;
  border: 1px solid var(--aesalightgrey, #e8e8e8);

  .post__header {
    display: flex;
    align-self: stretch;
    color: var(--ogaesa-1, #0db04a);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 4px;
    margin-left: 40px;
  }

  .post__content {
    display: flex;
    align-self: stretch;
    color: var(--aesablack, #151515);

    font-family: "Paralucent";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
    margin-left: 40px;
  }
  .post__line {
    display: flex;
    margin-left: 40px;
    width: 570px;
    height: 0px;
    color: #e8e8e8;
  }

  .post__tags__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    list-style: none;
    margin-left: 40px;
  }
}

.see__more {
  display: flex;
  justify-content: center;
  align-items: center;

  .see__more-btn {
    border-radius: 50px;
    height: 44px;
    width: 125px;
    background-image: url(/dist/images/see_more_btn.svg);
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 12px;
    text-indent: 12px;
    color: var(--aesablack, #151515);
    margin: 80px 80px;
    font-family: "Paralucent";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }
}

@media (max-width: 375px) {
  .post__results {
    color: #bebebe;

    /* MOBILE/H4 */
    font-family: Paralucent;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-left: 0px;

    .posts {
      margin-left: 0;
      display: flex;
      width: 373px;
      padding: 24px 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      .post__header {
        margin-top: 4px;
        margin-left: 5px;
        align-self: stretch;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
      .post__content {
        margin-left: 5px;
        width: 323px;
        font-size: 16px;
      }
      .post__line {
        width: 343px;
        margin-left: 0;
        gap: 8px;
      }
      .post__tags__list {
        margin-left: 16;
        width: 375px;
        gap: 25px;
        .list2 img {
          width: 23.85px;
          height: 24px;
        }
        .list2 > span {
          font-size: 8px;
        }
      }
    }
  }
}
