@import url("https://p.typekit.net/p.css?s=1&k=wwy4bxt&ht=tk&f=27989.27998.28028.28056&a=54488276&app=typekit&e=css");
nav {
  display: flex;
  align-items: center;
  width: 1920px;
  height: 108px;
  background-color: var(--aesagreen-1, #122a24);
  list-style: none;
}

.logo {
  width: 415px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo img {
  width: 101px;
  height: 46.871px;
  flex-shrink: 0;
  color: #fefefe;
}

.nav__menu {
  display: flex;
  width: 1203px;
  justify-content: flex-end;
  gap: 145px;
}

.nav_list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 765px;
}

.nav__item {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
}
.nav__item img {
  width: 12px;
  height: 12px;
}
.nav__item a {
  color: #fefefe;
  text-decoration: none;
  font-family: Paralucent;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.language__btn {
  display: flex;
  justify-content: center;
  width: 302px;
  font-family: Paralucent;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.language__btn__style {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  border: none;
  background: var(--aesawhite-20, rgba(254, 254, 254, 0.2));
  color: #fefefe;
}

.references__section {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 301px;
  background-color: var(--aesagreen-1, #122a24);
}
.references__section .line {
  width: 1920px;
  flex-shrink: 0;
  background: var(--aesagreen-1, #122a24);
}
.references__section .references__header {
  margin-left: 302px;
  margin-top: 120px;
  color: var(--aesawhite, #fefefe);
  font-family: Paralucent;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.references__section .search__container {
  display: flex;
  align-items: center;
  margin-left: 302px;
  margin-top: 40px;
  gap: 24px;
}
.references__section .search__container .search__input {
  display: flex;
  align-items: center;
  background-color: var(--aesagreen-1, #122a24);
  background-image: url(/dist/images/Group\ 229.svg);
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 20px;
  text-indent: 20px;
  width: 1057px;
  height: 41px;
  padding: 12px 16px;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #1d4138;
}
.references__section .search__container .search__input::-moz-placeholder {
  color: #fefefe;
  width: 49px;
  height: 16px;
  flex-shrink: 0;
  font-family: Lunchtype22;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.references__section .search__container .search__input::placeholder {
  color: #fefefe;
  width: 49px;
  height: 16px;
  flex-shrink: 0;
  font-family: Lunchtype22;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.references__section .search__container .search__filter {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 12px 12px;
  gap: 16px;
  color: var(--aesawhite, #fefefe);
  font-family: Paralucent;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-radius: 80px;
  border: 1px solid #1d4138;
  background-color: var(--aesagreen-1, #122a24);
  background-image: url(/dist/images/Mask\ group.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: left 20px center;
  text-indent: 25px;
}
.references__section .search__container .search__sort {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--aesagrey, #bebebe);
  font-family: Lunchtype22;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.references__section .search__container .search__sort span {
  color: var(--aesawhite, #fefefe);
  font-family: "Paralucent";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.results {
  margin-left: 302px;
  margin-top: 40px;
}
.results .post__results {
  color: var(--aesagrey, #bebebe);
  font-family: "Paralucent";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main {
  display: grid;
  grid-template-columns: 670px 670px;
  width: 100%;
  max-width: 1920px;
  margin-left: 263px;
  margin-top: 80px;
}

.posts {
  width: 650px;
  height: 239px;
  margin-left: 41px;
  margin-bottom: 16px;
  border: 1px solid var(--aesalightgrey, #e8e8e8);
}
.posts .post__header {
  display: flex;
  align-self: stretch;
  color: var(--ogaesa-1, #0db04a);
  font-family: Lunchtype22;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 24px;
  margin-bottom: 4px;
  margin-left: 40px;
}
.posts .post__content {
  display: flex;
  align-self: stretch;
  color: var(--aesablack, #151515);
  font-family: "Paralucent";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
  margin-left: 40px;
}
.posts .post__line {
  display: flex;
  margin-left: 40px;
  width: 570px;
  height: 0px;
  color: #e8e8e8;
}
.posts .post__tags__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  list-style: none;
  margin-left: 40px;
}

.see__more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.see__more .see__more-btn {
  border-radius: 50px;
  height: 44px;
  width: 125px;
  background-image: url(/dist/images/see_more_btn.svg);
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 12px;
  text-indent: 12px;
  color: var(--aesablack, #151515);
  margin: 80px 80px;
  font-family: "Paralucent";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.footer__image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1920px;
  height: 638px;
  background-image: url(/dist/images/unsplash_iQ15DTx-63k.png);
  background-repeat: no-repeat;
}
.footer__image .rectangle__footer {
  display: flex;
  align-self: flex-end;
  margin-bottom: 60px;
  margin-right: 310px;
  width: 650px;
  height: 432px;
  flex-shrink: 0;
  background-color: var(--aesagreen-1, #122a24);
  z-index: 1;
}
.footer__image .rectangle__con {
  display: flex;
  flex-direction: column;
}
.footer__image .rectangle__con .rectangle__header {
  margin-top: 38px;
  width: 569px;
  color: var(--aesawhite, #fefefe);
  font-family: "Paralucent";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__image .rectangle__con .rectangle__content {
  margin-top: 19px;
  width: 569px;
  height: 96px;
  flex-shrink: 0;
  color: var(--aesawhite, #fefefe);
  font-family: "Paralucent";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
.footer__image .rectangle__con .rectangle__buttons {
  display: flex;
  list-style: none;
  margin-top: 64px;
  gap: 16px;
}
.footer__image .rectangle__con .rectangle__buttons .rectangle_btn {
  height: 44px;
  width: 105px;
  color: #fefefe;
  background-image: url(/dist/images/Group\ 168.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
  font-family: "Paralucent";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: #1d4138;
  border-radius: 80px;
}

.nav__footer {
  display: flex;
  align-items: center;
  width: 1920px;
  height: 108px;
  list-style: none;
}
.nav__footer .footer__logo {
  margin-left: 55px;
  width: 415px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__footer .footer__menu {
  display: flex;
  width: 1203px;
  justify-content: flex-end;
  gap: 145px;
}
.nav__footer .footer__item {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
}
.nav__footer .footer__item img {
  width: 10px;
  height: 10px;
  margin-right: 4px;
}
.nav__footer .footer__item a {
  color: black;
  text-decoration: none;
  font-family: "Paralucent";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.nav__footer .footer__language-btn {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 312px;
  gap: 10px;
}
.nav__footer .footer__language-btn .footer__language-btn-style {
  width: 32px;
  height: 32px;
  color: var(--aesablack, #151515);
  font-family: "Paralucent";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */
  border-radius: 80px;
  border: none;
  background: var(--aesalightgrey, #e8e8e8);
}

.bottom__page {
  display: flex;
  justify-content: space-evenly;
  gap: 625px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.bottom__page .social__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  gap: 16px;
  margin-left: 120px;
}
.bottom__page .social__icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.691px;
  height: 16px;
  fill: #1d4138;
}
.bottom__page .owner__info {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;
  gap: 25px;
}
.bottom__page .owner__info > li {
  color: var(--aesagrey, #bebebe);
  text-align: right;
  font-family: "Lunchtype22";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@font-face {
  font-family: "paralucent";
  src: url("https://use.typekit.net/af/1a7bb3/00000000000000007735f0ce/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff2"), url("https://use.typekit.net/af/1a7bb3/00000000000000007735f0ce/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("woff"), url("https://use.typekit.net/af/1a7bb3/00000000000000007735f0ce/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3") format("opentype");
  font-weight: 400;
  font-stretch: normal;
}
* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */